
.mycontainer, .row{
text-align: center;
}

.card{
text-align: center;
}

.mycaro {
  margin: 20px;
  display: inline;
}
.cars {
  width: 50%;
}

.carousel-control-prev {
  margin-left: -100px;
}

.carousel-control-next {
  margin-right: -100px;
}
