<app-my-navbar></app-my-navbar>



<div class="container bg-dark text-white" style="height: 300px; display: flex; justify-content: center; align-items: center;">
<div class="text">
  <h1 style="font-family: 'Pacifico', cursive;">Welcome {{user.fname}} {{user.lname}} </h1>
  <br>
  <h1 style="font-family: 'Pacifico', cursive; text-align: center;">At Car Shandaar </h1>
</div></div>
<div class="mycon" style="background: lightcyan">
  <app-car-card></app-car-card>
</div>




  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

